[submodule "test/cpp/external/Catch2"]
	path = mainstuff/test/cpp/external/Catch2
       url = https://github.com/catchorg/Catch2
[submodule "test/cpp/external/ethyl"]
	path = mainstuff/test/cpp/external/ethyl
       url = https://github.com/oxen-io/ethyl.git
[submodule "test/cpp/external/bls"]
	path = mainstuff/test/cpp/external/bls
       url = https://github.com/oxen-io/bls.git
